<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link rel="stylesheet" type="text/css" href="/css/{{ resources }}.css">

	<script type="text/javascript" src="/javascript/{{ resources }}.js"></script>
</head>
<body>
	{{{ body }}}
</body>
</html>